<div class="form-group">
  <label for="file">Choose File</label>
  <input
    type="file"
    id="file"
    (change)="handleFileInput($event.target.files)"
  />
  <mat-progress-bar
    mode="determinate"
    value="{{ percentDone }}"
    *ngIf="progressDisplay"
    class="progressbar"
  ></mat-progress-bar>
  <span *ngIf="progressDisplay"
    >{{ percentDone }}
    <mat-icon
      class="upload-confirmation"
      aria-hidden="true"
      *ngIf="uploadComplete"
      >check_circle</mat-icon
    >
  </span>
  <span class="cdk-visually-hidden" *ngIf="uploadComplete">
    upload complete
  </span>
  <button
    mat-raised-button
    color="primary"
    (click)="uploadFileToActivity()"
    [disabled]="uploadComplete"
  >
    upload
  </button>
</div>
